.contact_div{
  padding: 100px 50px;
}

.width_button{
  width: 64%;
}

@media (max-width: 601px){
  .contact_div{
    padding: 30px;
    text-align: center;
  }

  .form_div_reg{
    display: grid;
    justify-items: center;
  }
}