.hero_div {
  width: 100%;
  height: 60vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url("../../../assets/heroBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 50px;
}

.form_div {
  display: flex;
  align-items: center;
  justify-content: start;
}

.input_btn {
  border: none;
  height: 5rem;
  padding: 0px 28px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: var(--color4);
}

.input_btn:hover {
  background-color: var(--color3);
}

.search_field {
  height: 5rem;
  padding: 0 28px;
}

.search_field:focus {
  border: none;
}

.search_field option {
  font-size: 1.2rem;
  background-color: var(--color4);
}


@media (max-width: 601px){
  .hero_div{
    width: 100%;
    height: 100%;
    padding: 30px;
    justify-content: center;
    text-align: center;
  }

  .form_div{
    display: grid;
    justify-content: center;
  }
}