.main_indus {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  height: 80vh;
}

.indus_sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
  padding: 50px 0;
}

.sec_div {
  display: flex;
  align-items: center;
  padding: 80px;
  justify-content: center;
  border: 2px solid var(--color4);
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 10px;
}

.sec_div:hover {
  background-color: var(--color3);
  color: var(--darkBg);
}

@media (min-width: 360px) {
  .main_indus {
    padding: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .indus_sec {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
  }

  .sec_div {
    padding: 50px;
  }
}

@media (min-width: 801px) {
  .main_indus {
    height: 100%;
    width: 100%;
    padding: 30px;
  }

  .sec_div {
    padding: 30px;
  }

  .indus_sec {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }
}


@media (min-width: 1680px) {
  .main_indus {
    height: 100%;
    padding: 50px;
  }

  .indus_sec {
    grid-template-columns: repeat(3, 1fr);
  }
}