.jobs_portal {
  padding: 0 50px;
}

.job_section {
  border: 1px solid var(--color4);
  padding: 50px;
}

.portals_job {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.link_Deco {
  text-decoration: none;
}

.job_section:hover {
  background-color: var(--color1);
}


@media (max-width: 601px) {
  .jobs_portal {
    padding: 30px;
    display: grid;
    justify-items: center;
  }

  .job_hidden {
    display: none;
  }

  .job_section {
    padding: 20px;
  }
}

@media (max-width: 910px) {

  .portals_job {
    grid-template-columns: repeat(1, 1fr);
  }

}